files:
  "/tmp/octane.gz":
    mode: " 000755"
    owner: root
    group: root
    source: https://github.com/tfausak/octane/releases/download/0.18.1/octane-0.18.1-linux.gz

commands:
  extract_octane:
    command: gunzip /tmp/octane.gz

  install_octane:
    command: mv /tmp/octane /usr/bin/octane

  set_perms_octane:
    command: chmod +x /usr/bin/octane
