<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Turbo Carnival - 3D Rocket League Replays</title>

	<link rel="stylesheet" href="/static/css/foundation.min.css"/>
	<link rel="stylesheet" href="/static/css/base.css"/>
    </head>
    <body>
	<div class="row">
	    <h1>Turbo Carnival</h1>
	    <h3>3D Rocket League Replays in your browser</h3>
	</div>

	<div class="row">
	    <p><a href="/">Home</a> | <a href="/upload">Click here to upload a replay</a></p>
	    <script>
	     function findPlayer() {
		 var playerName = document.getElementById("playerName").value;
		 var newLocation = window.location.protocol + '//' + window.location.host + "/find_player_by_handle/"+ playerName;
		 window.location.href = newLocation;
		 return false;
	     }
	    </script>
	    <form onsubmit="return findPlayer();">
		<input id="playerName"/>
		<input type="button" value="Find Player Replays" onclick="return findPlayer();"/>
	    </form>
	    <hr>
	</div>
	
	{% block body %}
	{% endblock %}

	<hr>
	<div class="row">
	    <footer>
		<a href="https://www.surveymonkey.com/r/MFKGGDD">Let me know how to make this beter!</a>
		<br/>
		<a href="https://github.com/mrcarlosrendon/turbo-carnival">Tech Savy? Contribute on GitHub</a>
	    </footer>
	</div>

	<script src="/static/js/jquery.js"/>
	<script src="/static/js/foundation.min.js"/>
	<script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');	 
	 ga('create', 'UA-91651211-1', 'auto');
	 ga('send', 'pageview');
	</script>
    </body>
</html>
