{% extends "layout.html" %}
{% block body %}
<div class="row">
    <h2>View replays for player_id : {{ online_id }}</h2>
    <table>
	<tr>
	    <th>Handle</th>
	    <th>Date</th>
	    <th>Game Type</th>
	    <th>Score</th>
	    <th>Team</th>
	    <th>Platform</th>
	    <th>Rank</th>
	    <th>Map</th>
	    <th>View Replay</th>
	</tr>
	
	{% for replay in replays %}
	<tr>
	    <td>{{ replay.name }}</td>
	    <td>{{ replay.replay_date }}</td>
	    <td>{{ replay.team_size }}v{{ replay.team_size }}</td>
	    <td>{{ replay.team0_score }} - {{ replay.team1_score }}</td>
	    <td>{{ replay.team }}</td>
	    <td>{{ replay.platform }}</td>
	    <td>{{ replay.ranking }}</td>
	    <td>{{ replay.replay_map }}</td>
	    <td><a href="{{ url_for('view_replay', insecure_filename=replay.replay_key) }}">{{ replay.replay_key }}</a></td>
	</tr>
	{% endfor %}
	
    </table>
</div>
{% endblock %}
