{% extends "layout.html" %}
{% block body %}

<div class="row">
    {% if error %}    
    <h1>{{ error }}</h1>
    {% endif %}


    <p>Replays are stored in: Documents\My Games\Rocket League\TAGame\Demos</p>
    <form action="" method="post" enctype="multipart/form-data">
	<input type="file" name="file">
	<input type="submit" value="Upload">
    </form>
    <p>NOTE: Replays may take 1-2 minutes to process, please be patient! You will get an error message if it fails.</p>
</div>
{% endblock %}
