<!DOCTYPE html>
<html>
    <head>
	<meta charset=utf-8>
	<title>Turbo Carnival</title>
	<style>
	 body { margin: 0; }
	 canvas { width: 100%; height: 100% }
	 #scoreHeader {
	     position: absolute;
	     left: 50%;
	     transform: translateX(-50%);
	     text-align: center;
	     color: white;
	     font-family: sans-serif;
	     overflow: hidden;
	 }
	 #controls {
	     position: absolute;
	     left: 2%;
	     color: white;
	     font-family: sans-serif;
	 }
	 #cameraStatus {
	     position: absolute;
	     right: 2%;
	     color: white;
	     font-family: sans-serif;
	 }
	 .horizontalBoxes {
	     overflow: hidden;
	     width: 600px;
	 }
	 .horizDiv {
	     float: left;
	     width: 100px;
	 }
	 #game_clock {
	     
	 }
	 #blueScore {
	     color: blue;
	 }
	 #orangeScore {
	     color: orange;
	 }
	 
	</style>

	<script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');	 
	 ga('create', 'UA-91651211-1', 'auto');
	 ga('send', 'pageview');
	</script>
    </head>
    <body>

	<div id="scoreHeader">
	    <div id="horizontalBoxes">
		<div class="horizDiv"><h1 id="blueScore">0</h1></div>
		<div class="horizDiv"><h1 id="game_clock"></h1></div>
		<div class="horizDiv"><h1 id="orangeScore">0</h1></div>
	    </div>
	</div>

	<div id="cameraStatus">
	    <h2 id="watching"></h2>
	</div>
	
	<div id="controls">
	    <h2 id="last_scorer">Last Scorer: </h2>
	    <p>Press i to see controls
		<div id="controlInstructions" style="display: none">
		    <p>Controls: </p>
		    <p>left click - change camera target</p>
		    <p>right click - change camera mode</p>
		    <p>shift - pause/resume</p>
		    <p>right arrow - fast forward</p>
		    <p>left arrow - rewind</p>
		    <p>w - go towards camera focus</p>
		    <p>s - go away from camera focus</p>
		    <p>a - rotate left around camera focus</p>
		    <p>d - rotate right around camera focus</p>
		</div>
	</div>
	
	<script src="/static/js/three.js"></script>
	<script src="/static/js/ColladaLoader2.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script>
	 "use strict";
	 d3.csv("/get_replay_data/{{ filename }}", function(error, data){
	     draw(data);
	 });

	 var frame = 0;
	 var max_frame = 0;
	 var objects = {};
	 var geometries = {};

	 var cameraMode = 'top';
	 var cameraFocus = 'ball';
	 var cameraDistance = 2000;
	 var watchTopOfBallMode = true;
	 var watchBallCenterMode = false;

	 var scene = new THREE.Scene();
	 var camera = new THREE.PerspectiveCamera( 50, window.innerWidth / window.innerHeight, 1, 15000 );	 
	 var renderer = new THREE.WebGLRenderer();
	 window.addEventListener('resize', onWindowResize, false);

	 var point_light = new THREE.PointLight( 0xffffff, 1, 9000 );
	 point_light.position.set( 0, 0, 1000 );
	 scene.add( point_light );

	 var ambient_light = new THREE.AmbientLight ( 0x404040 );
	 scene.add( ambient_light );

	 var plane = new THREE.Mesh(new THREE.PlaneGeometry(4035*2, 5113*2),
				    new THREE.MeshLambertMaterial( { map: THREE.ImageUtils.loadTexture('/static/images/field.png') }));
	 scene.add( plane );

	 var arenaGeo = new THREE.BoxGeometry(4035*2, 5113*2, 6000)
	 var arena = new THREE.Mesh(arenaGeo,
				    new THREE.MeshLambertMaterial( { color: 0xaaaaaa, vertexColors: THREE.FaceColors, side: THREE.BackSide }));

	 var orangeSide = 0xfcca6d;
	 var blueSide = 0x6d9ffc;
	 arenaGeo.faces[4].color.setHex( orangeSide );
	 arenaGeo.faces[5].color.setHex( orangeSide );
	 arenaGeo.faces[6].color.setHex( blueSide );
	 arenaGeo.faces[7].color.setHex( blueSide );
	 
	 // put below the ground
	 arena.position.z = 3000 - 100;
	 scene.add( arena );
	 
	 var goal1 = new THREE.Mesh(new THREE.BoxGeometry(1633, 1400, 500),
				    new THREE.MeshLambertMaterial( { color: 0xffffff, wireframe: true } ));
	 goal1.position.set(0, 5113+500, 250);
	 scene.add(goal1);
	 
	 var goal2 = new THREE.Mesh(new THREE.BoxGeometry(1633, 1400, 500),
				    new THREE.MeshLambertMaterial( { color: 0xffffff, wireframe: true } ));
	 goal2.position.set(0, -(5113+500), 250);
	 scene.add(goal2);

	 var game_clock = d3.select("#game_clock");
	 var blue_score_text = d3.select("#blueScore");
	 var orange_score_text = d3.select("#orangeScore");
	 var last_scorer_text = d3.select("#last_scorer");
	 var watching_text = d3.select("#watching");
	 watching_text.html("Watching: " + cameraFocus);
	 var frame_data;
	 var frame_by_frame_mode = false;


	 /*

	Game Replay Control Notes:

Pause Unpause -> LSHIFT
Hold Pause -> Circle menu to select speed

Hold left click -> Circle menu to Pick camera target
Press left click -> next camera target

Hold right click -> Circle menu to Pick camera attach type ( autocam, hard, soft, fly )
Press right click -> next camera attach type

wasd -> move camera
w -> towards camera focus (bounded by box)
s -> away from camera focus (bounded by box)
a, d -> rotate around camera focus

<- ->  forward back in 5 second increments
Hold <- ->  forward or back to last keyframe

	  */
	 // Disable right click context menu, because we'll use right click for UI
	 document.addEventListener('contextmenu', event => event.preventDefault());
	 document.onclick = checkMouse;
	 function checkMouse(e) {
	     // Left Click
	     if (e.button === 0) {
		 // change camera focus		 
		 var next = false;
		 var set = false;
		 for (focus in objects) {
		     if (next === true) {
			 cameraFocus = focus;
			 watching_text.html("Watching: " + cameraFocus);
			 set = true;
			 break;
		     }
		     if (focus === cameraFocus) {
			 next = true;
		     }		     
		 }
		 if (!set) {
		     for (focus in objects) {
			 cameraFocus = focus;
			 watching_text.html("Watching: " + cameraFocus);
			 break;
		     }
		 }
	     }
	     // Right Click
	     else if (e.button === 2) {
		 // TODO change camera attach type
		 console.log("right click");

		 if (watchBallCenterMode) {
		     watchTopOfBallMode = true;
		     watchBallCenterMode = false;
		 }
		 else {
		     watchTopOfBallMode = false;
		     watchBallCenterMode = true;
		 }		 
	     }
	 }
	 document.onkeydown = checkKey;
	 function checkKey(e) {
	     if (e.keyCode === 37) {
		 // left arrow
		 //frame_by_frame_mode = true;
		 if (frame > 0) {
		     frame = frame - (30*5);
		 }
	     }
	     else if (e.keyCode === 39) {
		 // right arrow
		 //frame_by_frame_mode = true;
		 if (frame < max_frame) {
		     frame = frame + (30*5);
		 }
	     }
	     else if (e.shiftKey) {
		 if (frame_by_frame_mode) {
		     frame_by_frame_mode = false;
		 }
		 else {
		     frame_by_frame_mode = true;
		 }
	     }
	     else if (e.keyCode === 73) {
		 // i
		 var controlInstructions = document.getElementById("controlInstructions");
		 if (controlInstructions.style.display === "none") {
		     controlInstructions.style.display = "block";
		 }
		 else {
		     controlInstructions.style.display = "none";
		 }
	     }
	     else if (e.keyCode === 65) {
		 // a
		 // TODO rotate left around camera focus		 
	     }
	     else if (e.keyCode === 68) {
		 // d
		 // TODO rotate right around camera focus
	     }
	     else if (e.keyCode === 83) {
		 // s
		 // TODO move away from camera focus
		 if (cameraDistance < 20000) {
		     cameraDistance = cameraDistance + 100;
		 }
		 console.log("distance " + cameraDistance);
	     }
	     else if (e.keyCode === 87) {
		 // w
		 // TODO move towards camera focus
		 if (cameraDistance > 200) {
		     cameraDistance = cameraDistance - 100;
		 }		 
		 console.log("distance " + cameraDistance);
	     }
	     else if (e.keyCode === 82) {
		 // r
		 frame = 0;
		 last_scorer_text.html("Last Scorer:");
	     }
	 }

	 function createPlayerCar(id, team) {
	     var team0Color = "blue";
	     var team1Color = "orange";
	     var unknownColor = "purple";
	     var color = unknownColor;
	     if (team === '0') {
		 color = team0Color;
	     }
	     if (team === '1') {
		 color = team1Color;
	     }

	     var loader = new THREE.ColladaLoader();
	     var car_model;
	     loader.options.convertUpAxis = true;
	     loader.load('/static/models/potato_car.dae', function colladaReady( collada ) {		 
		 car_model = collada.scene;
		 for (var i = 0; i < car_model.children.length; i++) {
		     car_model.children[i].material = new THREE.MeshLambertMaterial( { color: color });
		 }
		 car_model.scale.x = car_model.scale.y = car_model.scale.z = 40;
		 car_model.userData['player_name'] = id;
		 geometries[id] = car_model;
		 scene.add( car_model );
	     });
	 }

	 function createBall(id) {
	     var sphere = new THREE.Mesh(new THREE.SphereGeometry( 100, 32, 32 ),
					 new THREE.MeshLambertMaterial( { color: 0xffffff }) );
	     geometries[id] = sphere;
	     scene.add( sphere );     
	 }
	 
	 function draw(data) {
	     frame_data = data;
	     max_frame = d3.max(data, function(d) { return parseInt(d.frame) });	     
	     renderer.setSize( window.innerWidth - 5, window.innerHeight - 5);
	     document.body.appendChild( renderer.domElement );
  	     for(var item in data) {
		 var line = data[item];
		 if (line.id !== undefined) {
		     objects[line.id] = data[item];
		 }
	     }	     
	     camera.position.x = 0;
	     camera.position.y = 0;
	     camera.position.z = 7000;
	     render();
	 }

	 function onWindowResize() {
	     camera.aspect = window.innerWidth / window.innerHeight;
	     camera.updateProjectionMatrix();
	     renderer.setSize(window.innerWidth - 5, window.innerHeight - 5);
	 }
	 
	 function render() {
	     requestAnimationFrame( render );

	     var items_in_frame = {}
	     for(var item in frame_data) {
		 // Yes I know, super inefficent
		 if (frame_data[item].frame == frame) {
		     var datum = frame_data[item];
		     items_in_frame[datum.id] = true;
		     var obj = geometries[datum.id];
		     if (obj !== undefined) {
			 obj.position.set(parseInt(datum.x), parseInt(datum.y), parseInt(datum.z));
			 obj.rotation.set(parseFloat(datum.yaw)*Math.PI, parseFloat(datum.roll)*Math.PI, parseFloat(datum.pitch)*Math.PI);
			 if (datum.id === cameraFocus) {
			     if (watchTopOfBallMode) {
				 camera.position.set(obj.position.x + cameraDistance, obj.position.y + cameraDistance, obj.position.z + cameraDistance);
				 camera.lookAt(obj.position);
				 //console.log("obj " + obj.position.toArray() + " camera " + camera.position.toArray()); 
				 //camera.rotation.set(0, 0, 0);
			     }
			     else if (watchBallCenterMode) {
				 obj.updateMatrix();
				 var mat = obj.matrix.clone();
				 var pos = new THREE.Vector3();
				 var rot = new THREE.Quaternion();
				 var scale = new THREE.Vector3();
				 mat.decompose(pos, rot, scale);
				 camera.position.setFromMatrixPosition(mat);
				 camera.setRotationFromQuaternion(rot);
				 camera.translateZ(cameraDistance);
			     }
			 }
		     }
		     else {
			 if (datum.id === 'ball') {
			     createBall(datum.id);
			 }
			 else {
			     createPlayerCar(datum.id, datum.team);
			 }
			 console.log("Created: " + datum.id);
		     }

		     if (datum['scorer'] !== '') {
			 last_scorer_text.html("Last Scorer: " + datum['scorer']);
			 blue_score_text.html(datum['team1score']);
			 orange_score_text.html(datum['team2score']);
		     }
		     break;
		 }
	     }

	     for (var geo in geometries) {
		 if (!(geo in items_in_frame)) {
		     scene.remove(geo);
		     // console.log("Removed " + geo);
		 }
	     }

	     if (frame_by_frame_mode) {


	     }
	     else if (frame % 30 === 0) {
		 var secs = frame/30;
		 var mins = Math.floor(secs/60);
		 secs = secs % 60;
		 var secsStr = "00" + secs;
		 secsStr = secsStr.substr(secsStr.length - 2);
		 game_clock.html(mins + ":" + secsStr);
	     }
	     renderer.render( scene, camera );
	     if (!frame_by_frame_mode && frame < max_frame) {
		 frame++;
	     }
	 }
	</script>
    </body>
</html>
